---
layout: default
---
<div class="jumbotron">
  <div class="container">
    <h1>What can we help you with?</h1>
  </div>
</div>

<div class="main container">
  <div class="well">
    This is a work-in-progress document.
    Its goal is to make you immediately productive with Mopio and to help you understand how all of the pieces fit together.
  </div>
  <ul class="list-unstyled">
    {% for page in site.data.docs %}
      {% assign doc_url = page | prepend:"/docs/" | append:".html" %}
      {% for doc in site.docs %}
        {% if doc.url == doc_url %}
          <li><a href="{{ doc.url }}">{{ doc.title }}</a></li>
          {% break %}
        {% endif %}
      {% endfor %}
    {% endfor %}
  </ul>
</div>
