---
layout: default
---

<p>
  This is a work-in-progress document. Its goal is to make you immediately productive with Mopio and to help you understand how all of the pieces fit together.
</p>
{% for section in site.data.docs %}
  <h2>{{ section.title }}</h2>
  <ul class="doc-list">
    {% for page in section.pages %}
      {% assign doc_url = page | prepend:"/" | append:"/" %}
      {% for doc in site.docs %}
        {% if doc.url == doc_url %}
          <li><a href="{{ doc.url }}">{{ doc.title }}</a></li>
          {% break %}
        {% endif %}
      {% endfor %}
    {% endfor %}
  </ul>
{% endfor %}
