$footer-size: 100px;

html {
  min-height: 100%;
  position: relative;
}

body {
  margin-bottom: $footer-size;
}

.footer {
  background-color: $gray-darker;
  bottom: 0;
  color: $gray-light;
  height: $footer-size;
  padding-top: ($footer-size - 24px) / 2;
  position: absolute;
  width: 100%;

  a {
    color: lighten($gray-light, 20%);
  }

  .container {
    font-family: "proxima-nova", sans-serif;
    letter-spacing: 2px;
    max-width: $screen-tablet;
    text-align: center;
    text-transform: uppercase;
  }
}
