$footer-bg: #2e3234;
$footer-color: #b8b8b8;
$footer-size: 100px;

html {
  min-height: 100%;
  position: relative;
}

body {
  margin-bottom: $footer-size + 30px;
}

.footer {
  background-color: $footer-bg;
  bottom: 0;
  color: $footer-color;
  height: $footer-size;
  padding-top: ($footer-size - 24px) / 2;
  position: absolute;
  width: 100%;

  .container {
    max-width: $screen-tablet;
  }
}
