$footer-bg: #2e3234;
$footer-color: #999;
$footer-size: 100px;

html {
  min-height: 100%;
  position: relative;
}

body {
  margin-bottom: $footer-size;
}

.footer {
  background-color: $footer-bg;
  bottom: 0;
  color: $footer-color;
  height: $footer-size;
  padding-top: ($footer-size - 24px) / 2;
  position: absolute;
  width: 100%;

  .container {
    font-family: "proxima-nova", sans-serif;
    letter-spacing: 2px;
    max-width: $screen-tablet;
    text-align: center;
    text-transform: uppercase;
  }
}
