.navbar {
  font-family: "proxima-nova", sans-serif;
  letter-spacing: 2px;
  text-transform: uppercase;

  .container {
    text-align: center;
  }

  .list-inline {
    margin-top: $navbar-height  / 2;
  }

  a {
    color: $gray-lighter;
    margin-left: 12px;
    margin-right: 12px;

    &:hover {
      border-bottom: 2px solid $gray-lighter;
      text-decoration: none;
    }
  }
}
