.navbar {
  letter-spacing: 2px;
  text-transform: uppercase;
}

.navbar-brand {
  img {
    margin-top: -6px;
    max-height: 36px;
  }
}

.jumbotron {
  text-align: center;

  h1 {
    font-weight: 100;
  }
}

.well {
  border-radius: 0;
  box-shadow: none;
}

.breadcrumb {
  border-radius: 0;
  margin-top: 3em;
}

.main {
  max-width: $screen-tablet;
}

// Sticky footer
$footer-bg: #2e3234;
$footer-color: #b8b8b8;
$footer-size: 100px;

html {
  min-height: 100%;
  position: relative;
}

body {
  margin-bottom: $footer-size + 30px;
}

.footer {
  background-color: $footer-bg;
  bottom: 0;
  color: $footer-color;
  height: $footer-size;
  padding-top: ($footer-size - 24px) / 2;
  position: absolute;
  width: 100%;

  .container {
    max-width: $screen-tablet;
  }
}
