/**
 * Site header
 */
.site-header {
  padding-top: $spacing-unit;
  text-align: center;

  h1 {
    font-size: 2.2em;
    margin-bottom: 0;
  }
}

/**
 * Site footer
 */
.site-footer {
  padding: $spacing-unit 0;
  background: $grey-color-light;
}

/**
 * Page content
 */
.page-content {
  padding: $spacing-unit 0;

  h2 {
    margin-bottom: 0;
  }

  .doc-list {
    list-style: none;
    margin-left: 0;
  }
}
