/**
 * Site header
 */
.site-header {
  background-color: $header-bg;
  text-align: center;

  img {
    height: 256px;
    width: 256px;
    margin-bottom: -72px;
  }
}

/**
 * Site footer
 */
.site-footer {
  padding: $spacing-unit 0;
  background: $grey-color-light;
}

/**
 * Page content
 */
.page-content {
  padding: $spacing-unit 0;

  h1 {
    font-size: 2.2em;
  }

  h2 {
    margin-bottom: 0;
  }

  .doc-list {
    list-style: none;
    margin-left: 0;
  }
}
