$ocean-blue: #3586be;

$font-family-sans-serif: "proxima-nova", sans-serif;

$grid-float-breakpoint: 480px;

$headings-font-weight: 300;

$jumbotron-bg: $ocean-blue;
$jumbotron-color: #fff;

$navbar-border-radius: 0;
$navbar-height: 100px;
$navbar-inverse-bg: $ocean-blue;
$navbar-inverse-border: $ocean-blue;
$navbar-inverse-link-color: #fff;
$navbar-margin-bottom: 0;

$well-bg: #f5f5f5;
$well-border: $well-bg;
