$base-font-family: "proxima-nova", sans-serif;
$base-font-size:   16px;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     30px;
$content-width:    720px;

$text-color:       #111;
$link-color:       #1969d1;
$background-color: #fff;

$hero-bg:          #2d6d82;

$grey-color:       #777;
$grey-color-light: lighten($grey-color, 45%);
